<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <hr>
    <h2> Módulo de vinculaciones </h2>
    <hr>

    <h3> Registrar vinculaciones </h3>

    <table>
        <tr>
            <td> Numero </td>
            <td> 8 </td>
        </tr>
        <tr>
            <td> Nombre del servicio </td>
            <td> Registrar vinculaciones </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /vinculaciones/registrar </td>
        </tr>
        <tr>
            <td> Descripción </td>
            <td> Permite registrar vinculaciones en la base de datos </td>
        </tr>
        <tr>
            <td> Verbo HTTP </td>
            <td> POST </td>
        </tr>
        <tr>
            <td> Header </td>
            <td> token: token </td>
        </tr>
        <tr>
            <td> Uusario </td>
            <td> Coordinador, seguimiento </td>
        </tr>
        <tr>
            <td> Petición body-form-data </td>
            <td>
                
            Json: {
                    "instructor": 10,
                    "tipo": 2,
                    "sede": 1,
                    "area": 1
            }

            </td>
        </tr>
        <tr>
            <td> Respuesta Json </td>
            <td>
                Correcto: 
                Json: {
                    Status: 200,
                    Message: "Vinculación registrada correctamente"
                },

                Incorrecto: 
                Json: {
                    Status: 403,
                    Message: "Error al registrar la vinculacion"
                },

                Error: 
                Json: {
                    Status: 500,
                    Message: 'Error del servidor' + error
                }
            </td>
        </tr>
        <tr>
            <td> Desarrollador </td>
            <td> Alejandro David Pasaje Quinayas </td>
        </tr>
    </table>

    <hr>

    <h3> Listar vinculaciones </h3>

    <table>
        <tr>
            <td> Numero </td>
            <td> 9 </td>
        </tr>
        <tr>
            <td> Nombre del servicio </td>
            <td> Listar vinculaciones </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /vinculaciones/listar </td>
        </tr>
        <tr>
            <td> Descripción </td>
            <td> Permite listar las vinculaciones que existen en la base de datos </td>
        </tr>
        <tr>
            <td> Verbo HTTP </td>
            <td> GET </td>
        </tr>
        <tr>
            <td> Header </td>
            <td> token: token </td>
        </tr>
        <tr>
            <td> Uusario </td>
            <td> Coordinador, seguimiento </td>
        </tr>
        <tr>
            <td> Petición body-form-data </td>
            <td> Null </td>
        </tr>
        <tr>
            <td> Respuesta Json </td>
            <td>
                Correcto: 
                Json: {
                    Status: 200,
                    Message: 
                        {
                            "id_vinculacion": 4,
                            "instructor": 10,
                            "tipo": "contratisca",
                            "sede": "yamboro",
                            "area": 1,
                            "estado": "Activo"
                        }
                },

                Incorrecto: 
                Json: {
                    Status: 404,
                    Message: "No hay vinculaciones registradas"
                },

                Error: 
                Json: {
                    Status: 500,
                    Message: 'Error del servidor' + error
                }
            </td>
        </tr>
        <tr>
            <td> Desarrollador </td>
            <td> Alejandro David Pasaje Quinayas </td>
        </tr>
    </table>

    <hr>

    <h3> Actualizar vinculaciones </h3>

    <table>
        <tr>
            <td> Numero </td>
            <td> 10 </td>
        </tr>
        <tr>
            <td> Nombre del servicio </td>
            <td> Actualizar vinculaciones </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /vinculaciones/actualizar/1 </td>
        </tr>
        <tr>
            <td> Descripción </td>
            <td> Permite actualizar las vinculaciones que existen en la base de datos </td>
        </tr>
        <tr>
            <td> Verbo HTTP </td>
            <td> PUT </td>
        </tr>
        <tr>
            <td> Header </td>
            <td> token: token </td>
        </tr>
        <tr>
            <td> Uusario </td>
            <td> Coordinador, seguimiento </td>
        </tr>
        <tr>
            <td> Petición body-form-data </td>
            <td>
                Json: {
                    "sede": 2
                }
            </td>
        </tr>
        <tr>
            <td> Respuesta Json </td>
            <td>
                Correcto: 
                Json: {
                    Status: 200,
                    Message: "Vinculacion actualizada correctamente"
                },

                Incorrecto: 
                Json: {
                    Status: 403,
                    Message: "Error al actualizar la vinculacion"
                },

                Error: 
                Json: {
                    Status: 500,
                    Message: 'Error del servidor' + error
                }
            </td>
        </tr>
        <tr>
            <td> Desarrollador </td>
            <td> Alejandro David Pasaje Quinayas </td>
        </tr>
    </table>

    <hr>

    <h3> Desactivar vinculaciones </h3>

    <table>
        <tr>
            <td> Numero </td>
            <td> 11 </td>
        </tr>
        <tr>
            <td> Nombre del servicio </td>
            <td> Desactivar vinculaciones </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /vinculaciones/inactivar/1 </td>
        </tr>
        <tr>
            <td> Descripción </td>
            <td> Permite desactivar las vinculaciones que existen en la base de datos </td>
        </tr>
        <tr>
            <td> Verbo HTTP </td>
            <td> PUT </td>
        </tr>
        <tr>
            <td> Header </td>
            <td> token: token </td>
        </tr>
        <tr>
            <td> Uusario </td>
            <td> Coordinador, seguimiento </td>
        </tr>
        <tr>
            <td> Petición body-form-data </td>
            <td> Null </td>
        </tr>
        <tr>
            <td> Respuesta Json </td>
            <td>
                Correcto: 
                Json: {
                    Status: 200,
                    Message: "Vinculacion desactivada correctamente"
                },

                Incorrecto: 
                Json: {
                    Status: 403,
                    Message: "Error al desactivar la vinculacion"
                },

                Error: 
                Json: {
                    Status: 500,
                    Message: 'Error del servidor' + error
                }
            </td>
        </tr>
        <tr>
            <td> Desarrollador </td>
            <td> Alejandro David Pasaje Quinayas </td>
        </tr>
    </table>

    <hr>

    <h3> Activar vinculaciones </h3>

    <table>
        <tr>
            <td> Numero </td>
            <td> 12 </td>
        </tr>
        <tr>
            <td> Nombre del servicio </td>
            <td> Activar vinculaciones </td>
        </tr>
        <tr>
            <td> URL </td>
            <td> /vinculaciones/activar/1 </td>
        </tr>
        <tr>
            <td> Descripción </td>
            <td> Permite activar las vinculaciones que existen en la base de datos </td>
        </tr>
        <tr>
            <td> Verbo HTTP </td>
            <td> PUT </td>
        </tr>
        <tr>
            <td> Header </td>
            <td> token: token </td>
        </tr>
        <tr>
            <td> Uusario </td>
            <td> Coordinador, seguimiento </td>
        </tr>
        <tr>
            <td> Petición body-form-data </td>
            <td> Null </td>
        </tr>
        <tr>
            <td> Respuesta Json </td>
            <td>
                Correcto: 
                Json: {
                    Status: 200,
                    Message: "Vinculacion activada correctamente"
                },

                Incorrecto: 
                Json: {
                    Status: 403,
                    Message: "Error al activar la vinculacion"
                },

                Error: 
                Json: {
                    Status: 500,
                    Message: 'Error del servidor' + error
                }
            </td>
        </tr>
        <tr>
            <td> Desarrollador </td>
            <td> Alejandro David Pasaje Quinayas </td>
        </tr>
    </table>
    
</body>
</html>